name: CICD Pipeline for EC2 Creation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: Terraform Plan and Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.2.0
      
      - name: Show Terraform Version
        run: terraform version

      - name: Show AWS CLI Version
        run: aws --version
      
      - name: Print Environment Info
        run: env | sort

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TF_BACKEND_BUCKET }}" \
            -backend-config="key=ec2/terraform.tfstate" \
            -backend-config="region=${{ secrets.AWS_REGION }}" \
            -backend-config="dynamodb_table=${{ secrets.TF_LOCK_TABLE }}"

      - name: Validate Terraform Configuration
        run: terraform validate

      - name: Terraform Plan
        id: tfplan
        run: |
          set +e # Disable exit on error for this shell script block
          terraform plan -detailed-exitcode
          exit_code=$?
          echo "exit_code=$exit_code" >> $GITHUB_OUTPUT

      - name: Apply Terraform Changes
        if: github.ref == 'refs/heads/main' && github.event_name == 'push' && steps.tfplan.outputs.exit_code == '2'
        run: terraform apply -auto-approve
